* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--normal-font);
}

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  --tile-size: 15vw;
  --tile-bgc: blanchedalmond;
  --normal-font: "Space Mono", monospace;
}
/* page display */
body {
  background-color: #f1faee;
  color: #1d3557;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* HEADER */
header {
  width: 100vw;

  background-color: #a8dadc;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

h2 {
  font-family: var(--header-font);
  font-size: 64px;
  font-weight: 800;
  text-align: center;
}
h2 i {
  font-size: 0.8em;
  color: #e63946;
}
/* MAIN */
main {
  margin-top: 5vh;
  display: flex;
  gap: 10vw;
}
.game-board {
  padding: 20px;

  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  align-self: center;
  gap: 1px;
  background-color: #1d3557;
}

.board-tile {
  width: 150px;
  height: 150px;
  background-color: #a8dadc;
  font-size: 100px;
  color: #e63946;
}
.board-tile:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: #e6394759;
}
.board-tile:disabled {
  background-color: rgba(17, 17, 17, 0.281);
}
/* ASIDE */

.aside {
  width: 300px;
  margin: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  gap: 1em;
}

.match-result {
  width: 100%;
  height: 150px;
  padding: 20px;
  background-color: #1d3557;
  color: #e63946;
  border: 2px solid black;
  font-size: 40px;
  font-family: var(--header-font);
  font-weight: 800;
  text-transform: capitalize;
}

.restart-btn {
  font-size: 32px;
  padding: 10px 20px;
  color: #1d3557;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
  background-color: #f1faee;
}

.restart-btn:hover {
  background-color: #1d3557;
  color: #a8dadc;
}

input {
  margin: 10px 0;
  width: 100%;
  font-size: 20px;
}

.submit-btn {
  align-self: center;
  padding: 5px 10px;
  font-family: var(--normal-font);
  font-size: 20px;
  background-color: transparent;
  color: #1d3557;
}

.submit-btn:hover {
  background-color: #1d3557;
  color: #a8dadc;
}
